#nav-menu {
  width: 100%;
  border: 0px 1px 1px 0px solid black;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding: 10px;
  position: sticky;
  z-index: 9999;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
#nav-menu>a{
  text-decoration: none;
}
#nav-menu>a>div{
  text-decoration: none;
  color: black;
  font-size:18px;
}
#nav-menu > a > div:hover {
  color: darkcyan;
}
#resume-button-1{
  background-color:darkcyan;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}
#resume-button-2{
  background-color:darkcyan;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}





#home{
  border: 3px solid hotpink;
}
#about{
  border: 3px solid darkorange;
}
#skills{
  border: 3px solid darkblue;
  height: 200px;
}
#projects{
  border: 3px solid yellowgreen;
}