/* Google Font CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
/* img:hover{
  filter: brightness(0.4);
} */
/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: darkblue;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: darkblue;
}
/* navbar styling */
nav {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
}
nav.sticky {
  background: darkblue;
  padding: 13px 0;
}
nav .navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav .navbar .logo a {
  font-weight: 500;
  font-size: 35px;
  color: white;
}
nav.sticky .navbar .logo a {
  color: #fff;
}
nav .navbar .menu {
  display: flex;
  position: relative;
}
nav .navbar .menu li {
  list-style: none;
  margin: 0 8px;
}
.navbar .menu a {
  font-size: 18px;
  font-weight: 500;
  color: white;
  padding: 6px 0;
  transition: all 0.4s ease;
}
.navbar .menu a:hover {
  border-bottom: 1px solid white;
}
nav.sticky .menu a {
  color: #fff;
}

.navbar .media-icons a {
  color: white;
  font-size: 18px;
  margin: 0 6px;
}
nav.sticky .media-icons a {
  color: #fff;
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn {
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn {
  color: white;
}
nav.sticky .menu-btn {
  color: #fff;
}
.navbar .menu .menu-btn {
  color: #fff;
}

/* home section styling */
.home {
  height: 100vh;
  width: 100%;
  background: url("images/background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}
.home .home-content {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .text-one {
  font-size: 25px;
  color: white;
}
.home .text-two {
  color: white;
  font-size: 75px;
  margin-left: -3px;
}
.home .text-three {
  font-size: 40px;
  margin: 5px 0;
  color: whitesmoke;
}
.home .text-four {
  font-size: 23px;
  margin: 5px 0;
  color: white;
}
.home .button {
  margin: 14px 0;
}
.home .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 400;
  background: blue;
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}
.home .button button:hover {
  border-color: blue;
  background-color: #fff;
  color: blue;
}
.btn-0 {
  padding: 10px 15px;
  margin: 8px;
  border: 1px solid green;
  border-radius: 8px;
  background-color: green;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.btn-1 {
  margin: 8px;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid orange;
  background-color: orange;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.btn-0:hover{
  background-color: white;
  color: green;
}
.btn-1:hover{
  background-color: white;
  color: orange;
}
/* About Section Styling */
/* Those Elements Where We Have Apply Same CSS,
 I'm Selecting Directly 'Section Tag' and 'Class'  */
section {
  padding-top: 40px;
}
section .content {
  width: 80%;
  margin: 40px auto;
  font-family: "Poppins", sans-serif;
}
.about .about-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span {
  color: #0e2431;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
.title {
  text-align: center;
  color: #0e2431;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
section .title span::before,
section .title span::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background: darkblue;
  left: 0;
  bottom: 0;
}
section .title span::after {
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.about .about-details .left {
  width: 45%;
}
.about .left img {
  height: 350px;
  width: 350px;
  object-fit: cover;
  border-radius: 50%;
}

.left img:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.about-details .right {
  width: 55%;
}
#skills{
  padding-top: 100px;
  font-family: "Poppins", sans-serif;

}
.skill img {
  width: 50%;
}
.skills-parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  margin: auto;
  gap: 40px;
}
.skill {
  text-align: center;
  margin: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
}

section .topic {
  color: #0e2431;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.about-details .right p {
  text-align: justify;
  color: #0e2431;
}
section .button {
  margin: 16px 0;
}
section .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: darkblue;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}
section .button button:hover {
  border-color: darkblue;
  background-color: #fff;
  color: darkblue;
}

/* My Skills CSS */
.skills {
  background: #f0f8fff6;
}

#git {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
#git img {
  margin: auto;
  width: 30%;
  padding: 20px 0px 0px 0px;
}
#github{
  padding-top: 100px;
  font-family: "Poppins", sans-serif;

}
/* My Services CSS */
.services .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services .boxes .box {
  margin: 20px 0;
  width: calc(100% / 3 - 20px);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0px 30px 0px;
  border: 1px solid lightgray;
  cursor: default;
  transition: all 0.4s ease;
}
.services .boxes .box:hover {
  border: 1px solid darkblue;
  color: black;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
  color: #0e2431;
  transition: all 0.4s ease;
}
.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
  color: black;
}
/* Contact Me CSS */
.contact {
  background: #f0f8ff;
  margin-top: 20px;
}
.contact .content {
  margin: 0 auto;
  padding: 30px 0;
}
.contact .text {
  width: 80%;
  text-align: center;
  margin: auto;
}
#cal {
  width: 70%;
  border: 1px solid lightgray;
}
/* Footer CSS */
footer {
  background: darkblue;
  padding: 15px 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
footer .text span {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}
footer .text span a {
  font-weight: 500;
  color: #fff;
}
footer .text span a:hover {
  text-decoration: underline;
}
.con{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.social {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.social > a img {
  height: 40px;
  margin: 15px;
}
.social > a:hover {
  cursor: pointer;
}
/* Scroll TO Top Button CSS */
.scroll-button a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: darkblue;
  padding: 7px 12px;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}
.box img {
  width: 100%;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: green;
}
@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

/* Responsive Media Query */
@media (max-width: 1190px) {
  section .content {
    width: 85%;
  }
  .skills-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: auto;
    gap: 40px;
  }
  #git img {
    margin: auto;
    width: 30%;
    padding-bottom: 10px;
  }

  #cal {
    width: 80%;
  }
}
@media (max-width: 1000px) {
  .about .about-details {
    justify-content: center;
    flex-direction: column;
  }
  .about .about-details .left {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-details .right {
    width: 90%;
    margin: 40px 0;
  }
  .services .boxes .box {
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
  .skills-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: auto;
    gap: 40px;
  }
  #git img {
    margin: auto;
    width: 50%;
    padding-bottom: 10px;
  }

  #cal {
    width: 90%;
  }
}
@media (max-width: 900px) {
  .about .left img {
    height: 300px;
    width: 300px;
  }
  .skills-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    margin: auto;
    gap: 50px;
  }
  #git img {
    margin: auto;
    width: 60%;
    padding-bottom: 10px;
  }

  #cal {
    width: 90%;
  }
}

@media (max-width: 750px) {
  nav .navbar {
    width: 90%;
  }
  nav .navbar .menu {
    position: fixed;
    left: -100%;
    top: 0;
    background: #0e2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navbar.active .menu {
    left: 0;
  }
  nav .navbar .menu a {
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }
  nav.sticky .menu a:hover {
    color: darkblue;
  }
  nav .navbar .media-icons {
    display: none;
  }
  nav .menu-btn,
  .navbar .menu .cancel-btn {
    display: block;
  }
  .home .text-two {
    font-size: 65px;
  }
  .home .text-three {
    font-size: 35px;
  }
 
  .services .boxes .box {
    margin: 20px 0;
    width: 100%;
  }
  .contact .text {
    width: 100%;
  }
  .skills-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: auto;
    gap: 40px;
  }
  #git img {
    margin: auto;
    width: 80%;
    padding-bottom: 10px;
  }

  #cal {
    display: none;
  }
}


@media (max-width: 500px) {
  .home .text-two {
    font-size: 55px;
  }
  .home .text-three {
    font-size: 33px;
  }

  .skills-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin: auto;
  }
  #git img {
    margin: auto;
    width: 90%;
    padding-bottom: 10px;
  }

  #cal {
    display: none;
  }
}
